---
import { Icon } from "astro-icon/components";

import Mark from "@/components/shared/Mark.astro";
---

<header class="siteHeader">
  <div class="container">
    <a href="/" class="siteLogo">
      <Mark size="medium" />
      <div><span>Blue</span> Limes</div>
    </a>
    <nav class="siteNav">
      <ul class="list-reset">
        <li><a href="/our-solution/">Our solution</a></li>
        <li>
          <a class="button button--primary" href="/contact/">Let's chat</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  .siteHeader {
    padding-top: var(--space-small);
    padding-bottom: var(-space-small);

    .container {
      display: flex;
      justify-content: space-between;
    }

    .siteLogo {
      display: flex;
      align-items: center;
      gap: 0.6rem;

      font-family: var(--display-font);
      font-size: 1.6rem;
      font-weight: 700;

      @media (min-width: 32rem) {
        font-size: 3rem;
      }

      // svg {
      //   height: 2.4rem;

      //   color: var(--pink);

      //   transition: all 0.3s ease-in-out;

      //   @media (min-width: 32rem) {
      //     height: 4rem;
      //   }
      // }

      div {
        color: var(--text-color);
      }

      &:hover {
        text-decoration: none;

        svg {
          color: var(--purple);
        }
      }
    }

    .siteNav {
      display: flex;
      align-items: center;

      font-size: 1.4rem;

      @media (min-width: 32rem) {
        font-size: inherit;
      }

      ul {
        display: flex;
        gap: var(--space-medium);
      }
    }
  }
</style>
