---
import { Icon } from "astro-icon/components";
---

<header class="siteHeader">
  <div class="container">
    <div class="siteLogo">
      <Icon name="limes" height="40" width="auto" />
      <div><span>Blue</span> Limes</div>
    </div>
    <nav class="siteNav">
      <ul class="list-reset">
        <li><a href="/our-idea/">Our idea</a></li>
        <li>
          <a class="button button--primary" href="/contact/">Let's chat</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  .siteHeader {
    padding-top: var(--space-small);
    padding-bottom: var(-space-small);

    .container {
      display: flex;
      justify-content: space-between;
    }

    .siteLogo {
      display: flex;
      align-items: center;
      gap: 0.6rem;

      font-family: var(--display-font);
      font-size: 2.4rem;
      font-weight: 700;

      svg {
        color: var(--pink);
      }

      div {
        color: var(--text-color);
      }
    }

    .siteNav {
      display: flex;
      align-items: center;

      ul {
        display: flex;
        gap: var(--space-medium);
      }
    }
  }
</style>
