---
import Mark from "@/components/shared/Mark.astro";
---

<header class="siteHeader">
  <div class="container">
    <a href="/" class="siteLogo">
      <Mark size="medium" animate={true} />
      <div><span>Blue</span> Limes</div>
    </a>
    <nav class="siteNav">
      <ul class="list-reset">
        <li><a href="/our-solution/">Our solution</a></li>
        <li>
          <a class="button button--primary" href="/contact/">Let's chat</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  .siteHeader {
    padding-top: var(--space-small);
    padding-bottom: var(--space-small);

    .container {
      display: flex;
      justify-content: space-between;
    }

    .siteLogo {
      display: flex;
      align-items: center;
      gap: 0.6rem;

      font-family: var(--display-font);
      font-size: 1.6rem;
      font-weight: 700;

      @media (max-width: 32rem) {
        :global(.markWrapper) {
          height: 62px !important;
          width: 92px !important;

          transform: scale(0.5);
        }
      }

      @media (min-width: 32rem) {
        font-size: 3rem;
      }

      &:hover {
        :global(.mark--isAnimated .cube--B) {
          transform: translate(6px, -12px);
        }

        :global(.mark--isAnimated .cube--A) {
          transform: translate(-6px, 12px);
        }
      }

      div {
        color: var(--text-color);
      }

      &:hover {
        text-decoration: none;

        svg {
          color: var(--purple);
        }
      }
    }

    .siteNav {
      display: flex;
      align-items: center;

      font-size: 1.4rem;

      @media (min-width: 32rem) {
        font-size: inherit;
      }

      ul {
        display: flex;
        gap: var(--space-medium);

        > li {
          &:first-child {
            display: none;

            @media (min-width: 38rem) {
              display: block;
            }
          }
        }
      }
    }
  }
</style>
