---
import { Icon } from "astro-icon/components";
---

<section class="contactHero">
  <div class="container">
    <div class="contactHero__content">
      <Icon name="limes" height="80" id="colorizedLimes" />
      <h1>Contact Us!</h1>
      <p>
        Get in touch to discuss your SaaS project, engineering challenges, or
        your funding journey.
      </p>
      <p>We love to share our experience with other founders.</p>
    </div>
  </div>
</section>

<script>
  function colorizeLimes(target: HTMLElement) {
    onmousemove = (e) => {
      let h = e.x % 360;
      let s = e.y % 100;
      let hsl = `hsl(${h} ${s}% 50%)`;
      target.style.color = hsl;
    };
  }

  const colorizedLimes = document.getElementById("colorizedLimes");
  if (colorizedLimes !== null) {
    colorizeLimes(colorizedLimes);
  }
</script>

<style lang="scss">
  .contactHero {
    padding-top: var(--space-large);
    padding-bottom: var(--space-large);

    .container {
      height: 52rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      margin-right: auto;
      margin-left: auto;
      padding: var(--space-medium) 0;
      height: round(down, 100%, 5rem);
      width: round(down, 100%, 5rem);

      background-image: linear-gradient(
          to left,
          var(--grey-300) 0,
          transparent 0.05rem,
          transparent calc(100% - 0.05rem),
          var(--grey-300) 100%
        ),
        linear-gradient(
          to bottom,
          var(--grey-300) 0,
          transparent 0.05rem,
          transparent calc(100% - 0.05rem),
          var(--grey-300) 100%
        );
      background-size: 5rem 5rem;
      border: 0.05rem solid var(--grey-200);

      @media (min-width: 32rem) {
        padding: var(--space-medium);
      }

      @media (min-width: 48rem) {
        padding: var(--space-large);
      }

      svg {
        margin-top: var(--space-medium);
        width: auto;
      }

      h1 {
        text-align: center;
      }

      p {
        margin-right: auto;
        margin-left: auto;
        max-width: 70ch;

        text-align: justify;
        text-align-last: center;
      }
    }
  }
</style>
