---
import Mark from "@/components/shared/Mark.astro";
---

<section class="contactHero">
  <div class="container">
    <div class="contactHero__content">
      <Mark size="large" />
      <h1>Contact Us!</h1>
      <p>
        Get in touch to discuss your SaaS project, engineering challenges, or
        your funding journey.
      </p>
      <p>We love to share our experience with other founders.</p>
    </div>
  </div>
</section>

<script is:inline>
  function calculateDistance(elem, mouseX, mouseY) {
    let a = mouseX - (elem.offsetLeft + elem.offsetWidth / 2);
    let b = mouseY - 94 - (elem.offsetTop + elem.offsetHeight / 2);
    return Math.floor(Math.sqrt(Math.pow(a, 2) + Math.pow(b, 2)));
  }

  window.addEventListener("DOMContentLoaded", (event) => {
    const content = document.querySelector(".contactHero__content");
    const target = content.querySelector(".markWrapper");

    document.addEventListener("mousemove", function (e) {
      let zone = null;
      // A | B | C
      // D | E | F
      // G | H | I
      let h = window.innerHeight;
      let w = window.innerWidth;
      let mX = e.pageX;
      let mY = e.pageY;
      if (mX < w / 3) {
        if (mY < h / 3) {
          zone = "A";
        } else if (mY < (2 * h) / 3) {
          zone = "D";
        } else {
          zone = "G";
        }
      } else if (mX < (2 * w) / 3) {
        if (mY < h / 3) {
          zone = "B";
        } else if (mY < (2 * h) / 3) {
          zone = "E";
        } else {
          zone = "H";
        }
      } else {
        if (mY < h / 3) {
          zone = "C";
        } else if (mY < (2 * h) / 3) {
          zone = "F";
        } else {
          zone = "I";
        }
      }

      if (zone) {
        const allClasses = [
          "markWrapper--hovered-A",
          "markWrapper--hovered-B",
          "markWrapper--hovered-C",
          "markWrapper--hovered-D",
          "markWrapper--hovered-E",
          "markWrapper--hovered-F",
          "markWrapper--hovered-G",
          "markWrapper--hovered-H",
          "markWrapper--hovered-I",
        ];
        target.classList.remove(...allClasses);
        target.classList.add(`markWrapper--hovered-${zone}`);
      }
    });
  });
</script>

<style lang="scss">
  .contactHero {
    padding-top: var(--space-large);
    padding-bottom: var(--space-large);

    .container {
      height: 52rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: round(down, 100%, 5rem);
      width: round(down, 100%, 5rem);
      margin-right: auto;
      margin-left: auto;
      padding: var(--space-medium) 0;

      background-image: linear-gradient(
          to left,
          var(--grey-300) 0,
          transparent 0.05rem,
          transparent calc(100% - 0.05rem),
          var(--grey-300) 100%
        ),
        linear-gradient(
          to bottom,
          var(--grey-300) 0,
          transparent 0.05rem,
          transparent calc(100% - 0.05rem),
          var(--grey-300) 100%
        );
      background-size: 5rem 5rem;
      border: 0.05rem solid var(--grey-200);

      @media (min-width: 32rem) {
        padding: var(--space-medium);
      }

      @media (min-width: 48rem) {
        padding: var(--space-large);
      }

      :global(.markWrapper) {
        transition: all 0.3s ease-in-out;
      }

      :global(.mark) {
        filter: drop-shadow(0 0 20px rgb(0 0 0 / 0.5));

        transition: all 0.3s ease-in-out;
      }

      :global(.markWrapper--hovered-A) {
        transform-origin: right top;
        transform: perspective(1000px) rotateX(20deg) rotateY(-20deg)
          rotateZ(4deg);
      }
      :global(.markWrapper--hovered-A .mark) {
        filter: drop-shadow(6px 6px 20px rgb(0 0 0 / 0.5));
      }

      :global(.markWrapper--hovered-B) {
        transform-origin: center top;
        transform: perspective(1000px) rotateX(20deg);
      }
      :global(.markWrapper--hovered-B .mark) {
        filter: drop-shadow(0 6px 20px rgb(0 0 0 / 0.5));
      }

      :global(.markWrapper--hovered-C) {
        transform-origin: left top;
        transform: perspective(1000px) rotateX(20deg) rotateY(20deg)
          rotateZ(-4deg);
      }
      :global(.markWrapper--hovered-C .mark) {
        filter: drop-shadow(-6px 6px 20px rgb(0 0 0 / 0.5));
      }

      :global(.markWrapper--hovered-D) {
        transform-origin: left center;
        transform: perspective(1000px) rotateY(-20deg);
      }
      :global(.markWrapper--hovered-D .mark) {
        filter: drop-shadow(6px 2px 20px rgb(0 0 0 / 0.5));
      }

      :global(.markWrapper--hovered-F) {
        transform-origin: right center;
        transform: perspective(1000px) rotateY(20deg);
      }
      :global(.markWrapper--hovered-F .mark) {
        filter: drop-shadow(-6px 2px 20px rgb(0 0 0 / 0.5));
      }

      :global(.markWrapper--hovered-G) {
        transform-origin: right bottom;
        transform: perspective(1000px) rotateX(-20deg) rotateY(-20deg)
          rotateZ(-4deg);
      }
      :global(.markWrapper--hovered-G .mark) {
        filter: drop-shadow(6px -6px 20px rgb(0 0 0 / 0.5));
      }

      :global(.markWrapper--hovered-H) {
        transform-origin: center bottom;
        transform: perspective(1000px) rotateX(-20deg);
      }
      :global(.markWrapper--hovered-H .mark) {
        filter: drop-shadow(0 -6px 20px rgb(0 0 0 / 0.5));
      }

      :global(.markWrapper--hovered-I) {
        transform-origin: left bottom;
        transform: perspective(1000px) rotateX(-20deg) rotateY(20deg)
          rotateZ(4deg);
      }
      :global(.markWrapper--hovered-I .mark) {
        filter: drop-shadow(-6px -6px 20px rgb(0 0 0 / 0.5));
      }

      h1 {
        text-align: center;
      }

      p {
        margin-right: auto;
        margin-left: auto;
        max-width: 70ch;

        text-align: justify;
        text-align-last: center;
      }
    }
  }
</style>
