---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/pages/contact/Hero.astro";
import Form from "@/components/pages/contact/Form.astro";
---

<Layout
  title="Contact Us"
  description="Get in touch to discuss your SaaS project, engineering challenges, or your funding journey. We love to share our experience with other founders."
>
  <main>
    <Hero />
    <Form />
  </main>
</Layout>

<style></style>
