---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/home/Hero.astro";
import What from "@/components/home/What.astro";
import Opinionated from "@/components/home/Opinionated.astro";
import About from "@/components/home/About.astro";
---

<Layout
  title="Fast-track your SaaS startup!"
  description="A boutique consultancy helping early-stage startups fast-track their SaaS product by deploying a platform that will be the foundation of their MVP and beyond."
>
  <main>
    <Hero />
    <What />
    <Opinionated />
    <About />
  </main>
</Layout>

<style></style>
