---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/pages/solution/Hero.astro";
import Backend from "@/components/pages/solution/Backend.astro";
import Frontend from "@/components/pages/solution/Frontend.astro";
import Deployment from "@/components/pages/solution/Deployment.astro";
---

<Layout
  title="Our SaaS platform stack"
  description="Our SaaS platform can be deployed in days, allowing us to quickly start working on your project foundations and APIs."
>
  <main>
    <Hero />
    <Backend />
    <Frontend />
    <Deployment />
  </main>
</Layout>

<style></style>
