<section class="homeHero">
  <div class="container">
    <div class="homeHero__content">
      <h1>We help early-stage startups fast-track their MVP</h1>
      <p>
        The first months after you raise seed funding are crucial. You now need
        to execute fast. If you're not coming form a software engineering
        background -and sometimes even if you do- it means hiring a CTO and an
        development team. While this process can take months, your product is
        stalling. That's when we can help.
      </p>
    </div>
  </div>
</section>
