<section class="homeOpinionated">
  <div class="container">
    <div class="homeOpinionated__content">
      <h2>We're opinionated</h2>
      <p>
        To ensure your product is up and running as quick as possible, we’ve
        already made a number of technical decisions. Our experience tells us
        they’re the good ones, and we’re confident they will help you reach your
        next goals quickly and won’t be holding you back in the future.
      </p>
    </div>
  </div>
</section>
