---
import type { Software } from "@/types/types";

import { Icon } from "astro-icon/components";

interface Props {
  brick: Software;
}

const { brick } = Astro.props;
---

<div class="stackCard">
  <div class="stackCard__icon">
    <Icon name={brick.icon} height={brick.height} width="auto" />
  </div>
  <div class="stackCard__info">
    <span class="stackCard__name text-center">{brick.name}</span>
    <span class="stackCard__role text-center">{brick.role}</span>
  </div>
</div>

<style lang="scss">
  .stackCard {
    padding: var(--space-small);

    font-size: 1.8rem;

    &__icon {
      display: grid;
      place-content: center;
      height: 8rem; // 80 px / 16
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: var(--space-small);
    }

    &__role {
      color: var(--text-color-dim);
      font-size: 1.6rem;
    }
  }
</style>
