<section class="homeWhat">
  <div class="container">
    <div class="homeWhat__content">
      <h2>We build and deploy your platform in weeks, not months</h2>
      <p>
        We can deploy our versatile and reliable in days, and immediately start
        building your first APIs and the related user-facing interfaces.
      </p>
    </div>
  </div>
</section>
