---
import type { Software } from "@/types/types";

import StackCard from "./StackCard.astro";

const bricks: Software[] = [
  { name: "Python", role: "Backend", icon: "python", height: 80 },
  { name: "PostgreSQL", role: "Database", icon: "postgresql", height: 70 },
  {
    name: "Google Cloud",
    role: "Cloud Services",
    icon: "google-cloud",
    height: 70,
  },
  { name: "GitHub", role: "Code and CI/CD", icon: "github", height: 70 },
  { name: "Stripe", role: "Payments", icon: "stripe", height: 40 },
  { name: "Astro", role: "Frontend", icon: "astro", height: 70 },
  { name: "Vue.js", role: "JavaScript Framework", icon: "vue", height: 70 },
  {
    name: "TypeScript",
    role: "JavaScript Superset",
    icon: "typescript",
    height: 70,
  },
];
---

<section class="homeOpinionated">
  <div class="container">
    <div class="homeOpinionated__content">
      <h2 class="text-center">We're <span>opinionated</span></h2>
      <p>
        To ensure your product is up and running as quick as possible, we’ve
        already made a number of technical decisions. Our experience tells us
        they’re the good ones, and we’re confident they will help you reach your
        next goals quickly and won’t be holding you back in the future.
      </p>
      <ul class="homeOpinionated__stack list-reset">
        {
          bricks.map((b: Software) => (
            <li>
              <StackCard brick={b} />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>

<style lang="scss">
  .homeOpinionated {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--space-large);

    .container {
      max-width: 70ch;
    }

    &__content {
      h2 {
        margin-bottom: var(--space-large);
        span {
          position: relative;

          &::before {
            content: "";

            position: absolute;
            top: 15%;
            left: 5%;
            z-index: -1;

            display: block;
            height: 85%;
            width: 97%;

            background-image: linear-gradient(
              to right,
              transparent 0,
              var(--yellow-500) 5%,
              var(--yellow-500) 98%,
              transparent 100%
            );
            border-radius: 8% 12% 6% 9%;
            opacity: 90%;

            transform: rotate(2deg);
          }
        }
      }
    }

    &__stack {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      margin-top: var(--space-large);

      border: 0.1rem solid var(--grey-200);

      > li {
        border: 0.1rem solid var(--grey-200);
      }
    }
  }
</style>
